<head>
    <link rel='stylesheet' href='/stylesheets/users.css' />
</head>

<div id="all">

<div class="userbox">
    <div class="profile">
        <img src="{{user.picture}}" class="profile-pic">
        <div class="profile-contents">
            <div class="profile-name">{{user.firstName}} {{user.lastName}}</div>
            <div>@{{user.username}}</div>
            <div>{{user.bio}}</div>
        </div>
    </div>
</br>
    <form>
      <div class="form-group">
        <label>Find a friend</label>
        <!-- <input id="recipient" name="recipient" class="form-control" placeholder="Pick a friend..."> -->
        <div class="bs-docs-example no-code">
          <select class="selectpicker" data-live-search="true">
            <option>Hot Dog, Fries and a Soda</option>
            <option>Burger, Shake and a Smile</option>
            <option>Sugar, Spice and all things nice</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label>Send a happy message!</label>
        <textarea id="msgContent" name="content" class="form-control" placeholder="Send them a message to make them smile :)"></textarea>
      </div>
      <div class="form-group">
          <input id="checkBox" type="checkbox"> &nbsp;
         <label>Reveal your Identity?</label>
      </div>
      <div class="user-buttons">
          <form class="form-group">
            <button id="newMessage" type="submit" class="btn">Send a message</button>
          </form>
          <form class="form-group" method="get" action="/contacts/new">
            <button type="submit" class="btn">Find a new friend</button>
          </form>
      </div>
    </form>

</div>

<div class="messagebox">
    <div class="toggle">
      <button type="submit" class="toggle-received">Received</button>
      <button type="submit" class="toggle-sent">Sent</button>
    </div>
    <div id="thread">
        <div id="message">
            <div class="message-row">
                <div class="message-row-row">
                    <div>
                        <img id="message-pic" src="./assets/profile.png">
                    </div>
                    <div class="first-contents">
                        <div class="first-message">This is a positive message placeholder. Lol.</div>
                        <div class="first-from">Sent anonymously.</div>
                    </div>
                </div>
                <img class="thread-pic" src="./assets/comment.png">
            </div>
            <div class="reply">
                <img id="reply-pic" src="./assets/profile.png">
                <p>This is a reply to a message.</p>
            </div>
            <div class="reply-input">
              <textarea id="replyContent" name="content" class="form-control" placeholder="Keep the conversation going :)"></textarea>
              <button id="newReply" type="submit" class="btn">Reply</button>
            </div>
        </div>
    </div>

  </br>
</div>



</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script>
  var socket = io('localhost:3000');

  // Receive emits from routes.js when new message is posted
  socket.on('newMessage', function(thread) {
    // add message to message thread body
    console.log("Thread in : " + thread)
    $('#messages').append(thread.firstMessage)
  })
  socket.on('negativeMessage', function() {

  })
  socket.on('dirtyMessage', function() {

  })

  // Receive emits from routes.js when new REPLY is posted
  socket.on('newReply', function(thread) {
    // add message to message thread body
    console.log("Replied with " + thread)
  })
  socket.on('negativeReply', function() {

  })
  socket.on('dirtyReply', function() {

  })


  // When New Message button is pushed
  $('#newMessage').click(function(event) {
    event.preventDefault();
    var bodyMsg = $('#msgContent').val();
    var to = $('#recipient').val();
    var anon = $('#anon').is(":checked");
    $('#msgContent').val('')
    $('#recipient').val('')
    $('#anon').val('')
    socket.emit('newMessage', {
      user: "{{user._id}}",
      content: bodyMsg,
      receiver: to,
      anon: anon
    })
  })

  // When Reply button is pushed; See Leo's spec for more information
  $('#newReply').click(function() {
    event.preventDefault();
    var bodyMsg = $('#replyContent').val();
    $('#replyContent').val('')
    socket.emit('newReply', {
      user: "{{user._id}}",
      content: bodyMsg
    })
  })

</script>
