</br>
<form method="get" action="/logout">
  <div class="form-group col-xs-offset-8">
    <img src="{{pictureURL}}">
    <text style="font-size: 20px">Logged in as {{username}}</text>
    <button type="submit" class="btn btn-danger">Logout</button>
  </div>
</form>

<center>
  <h3>Message Threads</h3>
  <table style="width:50%">
    <tr>
      <th style="font-size: 24px">Contacts</th>
    </tr>
    {{#each contacts}}
      <tr style="padding: 15px">
        <!-- <form method="get" action="./{{_id}}" > -->
          <td style="padding-top: 1em"><strong>{{name}} ({{phone}})</strong></td>
        <!-- </form> -->
        <form method="get" action="messages/send/{{_id}}" >
          <td style="padding-top: 1em"><button type="submit" class="btn btn-primary">Send Text</button></td>
        </form>
        <form method="get" action="messages/{{_id}}" >
          <td style="padding-top: 1em"><button type="submit" class="btn btn-primary">View Messages</button></td>
        </form>
        <form method="get" action="contacts/{{_id}}" >
          <td style="padding-top: 1em"><button type="submit" class="btn btn-primary">Edit Contact</button></td>
        </form>
      </tr><br>
      <tr></tr>
    {{/each}}
  </table>
</br>
</center>
<form class="form-group col-xs-offset-3" method="get" action="/contacts/new">
  <button type="submit" class="btn btn-success">Add Contact</button>
</form>
<form class="form-group col-xs-offset-3" method="get" action="/messages">
  <button type="submit" class="btn btn-success">View All Messages</button>
</form>

<!-- {{#if twitterId}}
  <center><h3>Followers on Twitter</h3></center>
  <form class="form-group col-xs-offset-3" method="get" action="twitter/messages">
    <button type="submit" class="btn btn-primary">Show All Messages</button>
  </form>
  <table class="col-xs-offset-3" style="width:50%">
    <tr>
      <th>Screen Name</th>
      <th>Location</th>
      <th>Actions</th>
    </tr>
    {{#each followers.users}}
      <tr style="padding: 15px">
        <td>
          <img src="{{this.profile_image_url}}">
          <text>{{this.screen_name}}</text>
        </td>
        <td>
          <text>{{this.location}}</text>
        </td>
        <form method="get" action="/twitter/messages/send/{{this.screen_name}}" >
          <td style="padding-top: 1em"><button type="submit" class="btn btn-primary">Send message</button></td>
        </form>
      </tr><br>
      <tr></tr>
    {{/each}}
  </table></br>
  <form class="form-group col-xs-offset-3" method="get" action="/twitter/import">
    <button type="submit" class="btn btn-primary">Import Twitter Followers</button>
  </form>
{{/if}} -->
