<head>
    <link rel='stylesheet' href='/stylesheets/users.css' />
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
</head>

<div id="all">
<div class="userbox changer">
    <div class="profile">
        <img src="{{user.picture}}" class="profile-pic">
        <div class="profile-contents">
            <div class="profile-name">{{user.firstName}} {{user.lastName}}</div>
            <div>@{{user.username}}</div>
            <div>{{user.bio}}</div>
        </div>
    </div>
</br>
    <form>
      <div class="form-group">
        <label>Find a friend</label>
        <!-- <input id="recipient" name="recipient" class="form-control" placeholder="Pick a friend..."> -->
        <div class="bs-docs-example no-code">
          <select class="friendpicker" data-live-search="true">
            {{#each friends}}
            <option>@{{this.username}}</option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="form-group">
        <label>Send a happy message!</label>
        <textarea id="msgContent" name="content" class="form-control" placeholder="Send them a message to make them smile :)"></textarea>
      </div>
      <div class="form-group">
          <input id="checkBox" type="checkbox">
         <label>Reveal your Identity?</label>
      </div>
      <div class="user-buttons">
          <form class="form-group">
            <button id="newMessage" type="submit" class="btn">Send a message</button>
          </form>
          <form class="form-group" method="get" action="/contacts/new">
            <button type="submit" class="btn">Find a new friend</button>
          </form>
      </div>
    </form>

</div>

<div class="messagebox">
    <div class="toggle">
      <button id="receiveBtn" type="submit" class="toggle-received">Received</button>
      <button id="sendBtn" type="submit" class="toggle-sent">Sent</button>
    </div>


  <div class="receivedBlock">
    <h5>received</h5>
    {{#each received}}
      <div id="thread" for="{{this._id}}">
          <div id="message">
              <div class="message-row">
                  <div class="message-row-row">
                      <div>
                          <!-- <img id="message-pic" src="./assets/profile.png"> -->
                          {{#if anonymousSender}}
                            <i class="em em-smiley"></i>
                          {{else}}
                            <img id="message-pic" src="{{participant1.picture}}">
                          {{/if}}
                      </div>
                      <div class="first-contents">
                          <div class="first-message">{{firstMessage.content}}</div>
                          {{#if anonymousSender}}
                            <div class="first-from">Sent anonymously at {{firstMessage.createdAt}}.</div>
                          {{else}}
                            <div class="first-from">Sent by {{participant1.firstName}} {{participant1.lastName}}</div>
                          {{/if}}
                      </div>
                  </div>
                  <img class="thread-pic" src="./assets/comment.png">
              </div>
              <div class="reply-container">
              {{#each this.replies}}
                <div class="reply">
                  {{#if anon}}
                    {{#if you}}
                      <img id="reply-pic" src="{{this.picture}}">
                    {{else}}
                      <i class="em em-smiley"></i>
                    {{/if}}
                  {{else}}
                    <img id="reply-pic" src="{{this.picture}}">
                  {{/if}}
                  <p>{{this.content}}</p><br>
                </div>
              {{/each}}
              </div>
              <div class="reply-input">
                <textarea id="replyContent" name="content" class="form-control" placeholder="Keep the conversation going :)"></textarea>
                <button id="newReply" type="submit" class="btn">Reply</button>
              </div>
          </div>
      </div>
    {{/each}}
  </div>

  <div class="sentBlock">
    <h5>sent</h5>
    {{#each sent}}
      <div id="thread" for="{{this._id}}">
          <div id="message">
              <div class="message-row">
                  <div class="message-row-row">
                      <div>
                        <img id="message-pic" src="{{participant1.picture}}">
                      </div>
                      <div class="first-contents">
                        <div class="first-message">{{firstMessage.content}}</div>
                        {{#if anonymousSender}}
                          <div class="first-from">Sent anonymously at {{firstMessage.createdAt}}.</div>
                        {{else}}
                          <div class="first-from">Sent by {{participant1.firstName}} {{participant1.lastName}}</div>
                        {{/if}}
                      </div>
                  </div>
                  <img class="thread-pic" src="./assets/comment.png">
              </div>
              <div class="reply-container">
                {{#each this.replies}}
                  <div class="reply">
                    {{#if anon}}
                      {{#if you}}
                        <img id="reply-pic" src="{{this.picture}}">
                      {{else}}
                        <i class="em em-smiley"></i>
                      {{/if}}
                    {{else}}
                      <img id="reply-pic" src="{{this.picture}}">HI</img>
                    {{/if}}
                    <p>{{this.content}}</p><br>
                  </div>
                {{/each}}
              </div>
              <div class="reply-input">
                <textarea id="replyContent" name="content" class="form-control" placeholder="Keep the conversation going :)"></textarea>
                <button id="newReply" type="submit" class="btn">Reply</button>
              </div>
          </div>
      </div>
    {{/each}}
  </div>

  </br>
</div>



</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>

<script>
  var socket = io('localhost:3000');
  // Receive emits from routes.js when new message is posted
  socket.on('newMessage', function(thread) {
    // add message to message thread body
    // $('#messages').append(message.content)
    var pic = thread.participant1.picture
    if (pic.substring(0,7) === "public\\") {
      thread.participant1.picture = thread.participant1.picture.substring(7)
    }
    console.log("THREAD", thread.participant1.picture);

    if (thread.anonymousSender) {
      console.log(thread.participant1.picture)
      var newThread = `  <div id="thread" for="`+thread._id+`">
                          <div id="message">
                              <div class="message-row">
                                  <div class="message-row-row">
                                      <div>
                                      <img id="message-pic" src="`+ thread.participant1.picture +`">
                                      </div>
                                      <div class="first-contents">
                                          <div class="first-message">`+thread.firstMessage.content+`</div>

                                            <div class="first-from">Sent to `+thread.participant2.firstName+` anonymously at `+thread.firstMessage.createdAt+`.</div>
                                      </div>
                                  </div>
                                  <img class="thread-pic" src="./assets/comment.png">
                              </div>
                              <div class="reply-container `+thread._id+`">
                              </div>
                              <div class="reply-input">
                                <textarea id="replyContent" name="content" class="form-control" placeholder="Keep the conversation going :)"></textarea>
                                <button id="newReply" type="submit" class="btn">Reply</button>
                              </div>
                          </div>
                      </div>`
    } else {
      var newThread = `  <div id="thread" for="`+thread._id+`">
                          <div id="message">
                              <div class="message-row">
                                  <div class="message-row-row">
                                      <div>
                                      <img id="message-pic" src="`+ thread.participant1.picture +`">
                                      </div>
                                      <div class="first-contents">
                                          <div class="first-message">`+thread.firstMessage.content+`</div>

                                            <div class="first-from">Sent to `+thread.participant2.firstName+` at `+thread.firstMessage.createdAt+`.</div>
                                      </div>
                                  </div>
                                  <img class="thread-pic" src="./assets/comment.png">
                              </div>
                              <div class="reply-container `+thread._id+`">
                              </div>
                              <div class="reply-input">
                                <textarea id="replyContent" name="content" class="form-control" placeholder="Keep the conversation going :)"></textarea>
                                <button id="newReply" type="submit" class="btn">Reply</button>
                              </div>
                          </div>
                      </div>`
    }
    $('.sentBlock').prepend(newThread);
  })

  socket.on('negativeMessage', function() {
console.log("negativeMessage, add some positivity, friend!");
  // $('.transform').toggleClass('transform-active');

})

  socket.on('dirtyMessage', function() {
    console.log("dirty message! :(")
    $('.userbox').css('background-color', "#f44242");



  socket.on('newReceivedMessage', function(thread) {
    console.log('receiving message!!!')
    if (thread.anonymousSender) {
      var newThread = `  <div id="thread" for="`+thread._id+`">
                          <div id="message">
                              <div class="message-row">
                                  <div class="message-row-row">
                                      <div>
                                          <img id="message-pic" src="` + thread.participant1.picture + `">
                                      </div>
                                      <div class="first-contents">
                                          <div class="first-message">`+thread.firstMessage.content+`</div>

                                            <div class="first-from">Sent anonymously at `+thread.firstMessage.createdAt+`.</div>
                                      </div>
                                  </div>
                                  <img class="thread-pic" src="./assets/comment.png">
                              </div>
                              <div class="reply-container `+thread._id+`">
                              </div>
                              <div class="reply-input">
                                <textarea id="replyContent" name="content" class="form-control" placeholder="Keep the conversation going :)"></textarea>
                                <button id="newReply" type="submit" class="btn">Reply</button>
                              </div>
                          </div>
                      </div>`
    } else {
      var newThread = `  <div id="thread" for="`+thread._id+`">
                          <div id="message">
                              <div class="message-row">
                                  <div class="message-row-row">
                                      <div>
                                          <img id="message-pic" src="` + thread.participant1.picture  + `">
                                      </div>
                                      <div class="first-contents">
                                          <div class="first-message">`+thread.firstMessage.content+`</div>

                                            <div class="first-from">Sent to you by `+thread.participant1.firstName+` at `+thread.firstMessage.createdAt+`.</div>
                                      </div>
                                  </div>
                                  <img class="thread-pic" src="./assets/comment.png">
                              </div>
                              <div class="reply-container `+thread._id+`">
                              </div>
                              <div class="reply-input">
                                <textarea id="replyContent" name="content" class="form-control" placeholder="Keep the conversation going :)"></textarea>
                                <button id="newReply" type="submit" class="btn">Reply</button>
                              </div>
                          </div>
                      </div>`
    }
    $('.receivedBlock').prepend(newThread);
  })




  // Receive emits from routes.js when new REPLY is posted
  socket.on('newReply', function(data) {

    var reply = data.reply;
    var thread = data.thread;
    // add message to message thread body
    console.log("CONTENT: " + reply.content);
    console.log("T._id: " + thread._id)
    var picture = data.reply.picture
    var content = data.reply.content
    var newReply = `<div class="reply">
                      <img id="reply-pic" src="` + picture + `">
                      <p>`+ content+`</p>
                    </div>`
    // $(".sentBlock").attr('for', `${thread._id}`).find('.reply-container').prepend(newReply);

    $(`.${thread._id}`).append(newReply);
  })
  socket.on('negativeReply', function() {
    alert("Be more positive!")
  })
  socket.on('dirtyReply', function() {
    alert("That's nasty!")
  })

  $(document).ready(function() {
    $('.receivedBlock').show();
    $('.sentBlock').hide();

    // When New Message button is pushed
    $('#newMessage').click(function(event) {
      event.preventDefault();
      var bodyMsg = $('#msgContent').val();
      var recipient = $(".friendpicker option:selected").text().slice(1);
      var anon = !($('#checkBox').is(":checked"));
      $('#msgContent').val('')
      $('#recipient').val('')
      $('#checkBox').val('')
      socket.emit('newMessage', {
        user: "{{user._id}}",
        content: bodyMsg,
        receiver: recipient,
        anon: anon
      })
    })

    // When Reply button is pushed; See Leo's spec for more information
    $('#newReply').click(function() {
      event.preventDefault();
      var bodyMsg = $('#replyContent').val();
      $('#replyContent').val('')
      var threadid = $(this).parent().parent().parent().attr('for')
      console.log(threadid)
      socket.emit('newReply', {
        user: "{{user._id}}",
        threadid: threadid,
        content: bodyMsg
      })
    })

    $('#receiveBtn').click(function() {
      $('.receivedBlock').show();
      $('.sentBlock').hide();
      $('toggle-sent').css('background-color', '#FFCD66');
      $('toggle-received').css('background-color', 'transparent');
    })

    $('#sendBtn').click(function() {
      $('.receivedBlock').hide();
      $('.sentBlock').show();
      $('toggle-received').css('background-color', '#FFCD66').css('color', 'white');
      $('toggle-sent').css('background-color', 'transparent').css('color', 'lightgrey');
    })

  })



</script>
