
<div class="userbox" style="width: 33%; background-color: gray; padding: 5px">
  <center>
    <form method="POST" style="max-width: 300px; margin: auto; margin-top: 50px; border: 0.5px solid gray; padding: 30px 30px 30px 30px">
    <h3>Send an anonymous message!</h3>
      <div class="form-group">
        <label>Who do you want to complement?</label>
        <input name="recipient" class="form-control" placeholder="Pick a friend...">
      </div>
      <div class="form-group">
        <label>What do you want to say?</label>
        <textarea name="content" class="form-control" placeholder="Send them a message to make them smile :)"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-info">Send {{name}} a message</button>
      </div>
    </form>

    <form class="form-group" method="get" action="/contacts/new">
      <button type="submit" class="btn btn-success">Find a new friend</button>
    </form>

  </center>
</div>

<br>

<div class="messagebox" style="width: 66%; background-color: gray; padding: 5px">
  <center>
    <h3>Message Threads</h3>
    <table style="width:50%">
      <tr>
        <th style="font-size: 24px">Contacts</th>
      </tr>
      {{#each contacts}}
        <tr style="padding: 15px">
          <!-- <form method="get" action="./{{_id}}" > -->
            <td style="padding-top: 1em"><strong>{{name}} ({{phone}})</strong></td>
          <!-- </form> -->
          <form method="get" action="messages/send/{{_id}}" >
            <td style="padding-top: 1em"><button type="submit" class="btn btn-primary">Send Text</button></td>
          </form>
          <form method="get" action="messages/{{_id}}" >
            <td style="padding-top: 1em"><button type="submit" class="btn btn-primary">View Messages</button></td>
          </form>
          <form method="get" action="contacts/{{_id}}" >
            <td style="padding-top: 1em"><button type="submit" class="btn btn-primary">Edit Contact</button></td>
          </form>
        </tr><br>
        <tr></tr>
      {{/each}}
    </table>
  </br>
  </center>

  <form class="form-group col-xs-offset-3" method="get" action="/contacts/new">
    <button type="submit" class="btn btn-primary">View Sent</button>
    <button type="submit" class="btn btn-primary">View Received</button>
  </form>
  <br>
</div>

<!-- {{#if twitterId}}
  <center><h3>Followers on Twitter</h3></center>
  <form class="form-group col-xs-offset-3" method="get" action="twitter/messages">
    <button type="submit" class="btn btn-primary">Show All Messages</button>
  </form>
  <table class="col-xs-offset-3" style="width:50%">
    <tr>
      <th>Screen Name</th>
      <th>Location</th>
      <th>Actions</th>
    </tr>
    {{#each followers.users}}
      <tr style="padding: 15px">
        <td>
          <img src="{{this.profile_image_url}}">
          <text>{{this.screen_name}}</text>
        </td>
        <td>
          <text>{{this.location}}</text>
        </td>
        <form method="get" action="/twitter/messages/send/{{this.screen_name}}" >
          <td style="padding-top: 1em"><button type="submit" class="btn btn-primary">Send message</button></td>
        </form>
      </tr><br>
      <tr></tr>
    {{/each}}
  </table></br>
  <form class="form-group col-xs-offset-3" method="get" action="/twitter/import">
    <button type="submit" class="btn btn-primary">Import Twitter Followers</button>
  </form>
{{/if}} -->
