<head>
    <link rel='stylesheet' href='/stylesheets/users.css' />
    <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
</head>
<div id="all">
<div class="userbox changer">
    <div class="profile">
        <img src="{{user.picture}}" class="profile-pic">
        <div class="profile-contents">
            <div class="profile-name">{{user.firstName}} {{user.lastName}}</div>
            <div>@{{user.username}}</div>
            <div>{{user.bio}}</div>
        </div>
    </div>
</br>
    <form>
      <div class="form-group">
        <label>Find a friend</label>
        <!-- <input id="recipient" name="recipient" class="form-control" placeholder="Pick a friend..."> -->
        <div class="bs-docs-example no-code">
          <select class="friendpicker" data-live-search="true">
            {{#each friends}}
            <option>@{{this.username}}</option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="form-group">
        <label>Send a happy message!</label>
        <textarea id="msgContent" name="content" class="form-control" placeholder="Send them a message to make them smile :)"></textarea>
      </div>
      <div class="form-group">
          <input id="checkBox" type="checkbox">
         <label>Reveal your Identity?</label>
      </div>
      <div class="user-buttons">
          <form class="form-group">
            <button id="newMessage" type="submit" class="btn">Send a message</button>
          </form>
          <form class="form-group" method="get" action="/contacts/new">
            <button type="submit" class="btn">Find a new friend</button>
          </form>
      </div>
    </form>
</div>
<div class="messagebox">
    <div class="toggle">
      <button id="receiveBtn" type="submit" class="toggle-received">Received</button>
      <button id="sendBtn" type="submit" class="toggle-sent">Sent</button>
    </div>
  <div class="receivedBlock">
    {{#each received}}
      <div id="thread" for="{{this._id}}">
          <div id="message">
              <div class="message-row">
                  <div class="message-row-row">
                      <div>
                          <!-- <img id="message-pic" src="./assets/profile.png"> -->
                          {{#if anonymousSender}}
                            <i class="em em-smiley"></i>
                          {{else}}
                            <img id="message-pic" src="{{participant1.picture}}">
                          {{/if}}
                      </div>
                      <div class="first-contents">
                          <div class="first-message">{{firstMessage.content}}</div>
                          {{#if anonymousSender}}
                            <div class="first-from">Sent anonymously at {{firstMessage.createdAt}}.</div>
                          {{else}}
                            <div class="first-from">Sent by {{participant1.firstName}} {{participant1.lastName}}</div>
                          {{/if}}
                      </div>
                  </div>
                  <img class="thread-pic" src="./assets/comment.png">
              </div>
              <div class="reply-container {{this._id}}">
              {{#each this.replies}}
                <div class="reply">
                  {{#if anon}}
                    {{#if you}}
                      <img id="reply-pic" src="{{this.picture}}">
                    {{else}}
                      <i class="em em-smiley"></i>
                    {{/if}}
                  {{else}}
                    {{#if you}}
                      <img id="reply-pic" src="{{this.picture}}">
                    {{else}}
                      <img id="reply-pic" src="/assets/profile.png"></img>
                    {{/if}}
                  {{/if}}
                    <p>{{this.content}}</p><br>
                </div>
              {{/each}}
            </div>
              <div class="reply-input">
                <textarea id="replyContent" name="content" class="form-control" placeholder="Keep the conversation going :)"></textarea>
                <button id="newReply" type="submit" class="btn">Reply</button>
              </div>
          </div>
      </div>
    {{/each}}
  </div>
  <div class="sentBlock">
    {{#each sent}}
      <div id="thread" for="{{this._id}}">
          <div id="message">
              <div class="message-row">
                  <div class="message-row-row">
                      <div>
                        <img id="message-pic" src="{{participant1.picture}}">
                      </div>
                      <div class="first-contents">
                        <div class="first-message">{{firstMessage.content}}</div>
                        {{#if anonymousSender}}
                          <div class="first-from">Sent anonymously at {{firstMessage.createdAt}}.</div>
                        {{else}}
                          <div class="first-from">Sent by {{participant1.firstName}} {{participant1.lastName}}</div>
                        {{/if}}
                      </div>
                  </div>
                  <img class="thread-pic" src="./assets/comment.png">
              </div>
              <div class="reply-container {{this._id}}">
                {{#each this.replies}}
                  <div class="reply">
                    {{#if anon}}
                      {{#if you}}
                        <img id="reply-pic" src="{{this.picture}}">
                      {{else}}
                        <i class="em em-smiley"></i>
                      {{/if}}
                    {{else}}
                      {{#if you}}
                        <img id="reply-pic" src="{{this.picture}}">
                      {{else}}
                        <img id="reply-pic" src="./assets/profile.png"></img>
                      {{/if}}
                    {{/if}}
                    <p>{{this.content}}</p><br>
                  </div>
                {{/each}}
              </div>
              <div class="reply-input">
                <textarea id="replyContent" name="content" class="form-control" placeholder="Keep the conversation going :)"></textarea>
                <button id="newReply" type="submit" class="btn">Reply</button>
              </div>
          </div>
      </div>
    {{/each}}
  </div>
  </br>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.3/socket.io.js"></script>
<script>
  var socket = io('localhost:3000');
  // Receive emits from routes.js when new message is posted
  socket.on('newMessage', function(thread) {
    // add message to message thread body
    if (thread.anonymousSender) {
      var newThread = `  <div id="thread" for="`+thread._id+`">
                          <div id="message">
                              <div class="message-row">
                                  <div class="message-row-row">
                                      <div>
                                      <img id="message-pic" src="`+ thread.participant1.picture +`">
                                      </div>
                                      <div class="first-contents">
                                          <div class="first-message">`+thread.firstMessage.content+`</div>
                                            <div class="first-from">Sent to `+thread.participant2.firstName+` anonymously at `+thread.firstMessage.createdAt+`.</div>
                                      </div>
                                  </div>
                                  <img class="thread-pic" src="./assets/comment.png">
                              </div>
                              <div class="reply-container `+thread._id+`">
                              </div>
                              <div class="reply-input">
                                <textarea id="replyContent" name="content" class="form-control" placeholder="Keep the conversation going :)"></textarea>
                                <button id="newReply" type="submit" class="btn">Reply</button>
                              </div>
                          </div>
                      </div>`
    } else {
      var newThread = `  <div id="thread" for="`+thread._id+`">
                          <div id="message">
                              <div class="message-row">
                                  <div class="message-row-row">
                                      <div>
                                      <img id="message-pic" src="`+ thread.participant1.picture +`">
                                      </div>
                                      <div class="first-contents">
                                          <div class="first-message">`+thread.firstMessage.content+`</div>
                                            <div class="first-from">Sent to `+thread.participant2.firstName+` at `+thread.firstMessage.createdAt+`.</div>
                                      </div>
                                  </div>
                                  <img class="thread-pic" src="./assets/comment.png">
                              </div>
                              <div class="reply-container `+thread._id+`">
                              </div>
                              <div class="reply-input">
                                <textarea id="replyContent" name="content" class="form-control" placeholder="Keep the conversation going :)"></textarea>
                                <button id="newReply" type="submit" class="btn">Reply</button>
                              </div>
                          </div>
                      </div>`
    }
    $('.sentBlock').prepend(newThread);
    $('#sendBtn').click()
  })
  socket.on('negativeMessage', function() {
      console.log("negativeMessage, add some positivity, friend!");
      $('.userbox').css('animation', 'wiggle 2s')

  })
  socket.on('dirtyMessage', function() {
    console.log("dirty message! :(")
    $('.userbox').css('animation', 'wiggle 2s')
  })

  socket.on('newReceivedMessage', function(thread) {
    console.log('receiving message!!!')
    if (thread.anonymousSender) {
      var newThread = `  <div id="thread" for="`+thread._id+`">
                          <div id="message">
                              <div class="message-row">
                                  <div class="message-row-row">
                                      <div>
                                          <img id="message-pic" src="./assets/profile.png">
                                      </div>
                                      <div class="first-contents">
                                          <div class="first-message">`+thread.firstMessage.content+`</div>
                                            <div class="first-from">Sent anonymously at `+thread.firstMessage.createdAt+`.</div>
                                      </div>
                                  </div>
                                  <img class="thread-pic" src="./assets/comment.png">
                              </div>
                              <div class="reply-container `+thread._id+`">
                              </div>
                              <div class="reply-input">
                                <textarea id="replyContent" name="content" class="form-control" placeholder="Keep the conversation going :)"></textarea>
                                <button id="newReply" type="submit" class="btn">Reply</button>
                              </div>
                          </div>
                      </div>`
    } else {
      var newThread = `  <div id="thread" for="`+thread._id+`">
                          <div id="message">
                              <div class="message-row">
                                  <div class="message-row-row">
                                      <div>
                                          <img id="message-pic" src="./assets/profile.png">
                                      </div>
                                      <div class="first-contents">
                                          <div class="first-message">`+thread.firstMessage.content+`</div>
                                            <div class="first-from">Sent to you by `+thread.participant1.firstName+` at `+thread.firstMessage.createdAt+`.</div>
                                      </div>
                                  </div>
                                  <img class="thread-pic" src="./assets/comment.png">
                              </div>
                              <div class="reply-container `+thread._id+`">
                              </div>
                              <div class="reply-input">
                                <textarea id="replyContent" name="content" class="form-control" placeholder="Keep the conversation going :)"></textarea>
                                <button id="newReply" type="submit" class="btn">Reply</button>
                              </div>
                          </div>
                      </div>`
    }
    $('.receivedBlock').prepend(newThread);
  })

  // Receive emits from routes.js when new REPLY is posted
  socket.on('newReply', function(data) {
    var reply = data.reply;
    var thread = data.thread;
    console.log("thread._id received by front-end: " + thread._id)
    // add message to message thread body
    var picture = data.reply.picture
    var content = data.reply.content
    var newReply = `<div class="reply">
                      <img id="reply-pic" src="` + picture + `">
                      <p>`+ content+`</p>
                    </div>`
    // $(".sentBlock").attr('for', `${thread._id}`).find('.reply-container').prepend(newReply);
    $(`.${thread._id}`).append(newReply);
  })
  socket.on('negativeReply', function() {
    // $('#newReply').click(function(event) {
      $('.messagebox').on('click', '#newReply', function(event){
        $(this).parent().css('animation', 'wiggle 2s');
      })
    // })
  // $('.reply-input').css('animation', 'wiggle 2s')
  })
  socket.on('dirtyReply', function() {
    $('.messagebox').on('click', '#newReply', function(event){
      $(this).parent().css('animation', 'wiggle 2s');
    })
  })
  $(document).ready(function() {
    $('.receivedBlock').show();
    $('.sentBlock').hide();
    $('.reply-container').hide()
    $('.reply-input').hide()
    // When New Message button is pushed


    $('.messagebox').on('click', '.thread-pic', function(event) {
        $(this).parent().parent().children('.reply-container').slideToggle(800);
        $(this).parent().parent().children('.reply-input').slideToggle(800);
    })

    $('#newMessage').click(function(event) {
      event.preventDefault();
      var bodyMsg = $('#msgContent').val();
      var recipient = $(".friendpicker option:selected").text().slice(1);
      var anon = !($('#checkBox').is(":checked"));
      $('#msgContent').val('')
      $('#recipient').val('')
      $('#checkBox').val('')
      socket.emit('newMessage', {
        user: "{{user._id}}",
        content: bodyMsg,
        receiver: recipient,
        anon: anon
      })
      // socket.broadcast.emit('newMessage', {
      //   user: "{{user._id}}",
      //   content: bodyMsg,
      //   receiver: recipient,
      //   anon: anon
      // })
    })
    // When Reply button is pushed; See Leo's spec for more information
    $('.messagebox').on('click', "#newReply", function() {
      event.preventDefault();
      var bodyMsg = $(this).parent().children('#replyContent').val();
      // $('#replyContent').val('')
      var threadid = $(this).parent().parent().parent().attr('for')
      console.log(threadid)
      socket.emit('newReply', {
        user: "{{user._id}}",
        threadid: threadid,
        content: bodyMsg
      })
    })
    $('#receiveBtn').click(function() {
      $('.receivedBlock').show();
      $('.sentBlock').hide();
      $('.toggle-received').css('background-color', '#FFCD66').css('color', 'white');
      $('.toggle-sent').css('background-color', 'transparent').css('color', 'lightgrey');
    })
    $('#sendBtn').click(function() {
      $('.receivedBlock').hide();
      $('.sentBlock').show();
      $('.toggle-sent').css('background-color', '#FFCD66').css('color', 'white');
      $('.toggle-received').css('background-color', 'transparent').css('color', 'lightgrey');
    })
  })
</script>
